<div class="LoginViewContainer" ng-controller="AuthUserController">
  <p class="LoginGreeting">Log me in as:</p>
  <ul class="LoginOptionList">
    <li class="LoginOptionList__Item">
      <button  class="LoginOptionList__Button" ng-click="logMeInAs('bashers')">Bashers</button>
    </li>
    <li class="LoginOptionList__Item">
      <button  class="LoginOptionList__Button" ng-click="logMeInAs('mashers')">Mashers</button>
    </li>
    <li class="LoginOptionList__Item">
      <button  class="LoginOptionList__Button" ng-click="logMeInAs('rallycaps')">Rally Caps</button>
    </li>
    <li class="LoginOptionList__Item">
      <button  class="LoginOptionList__Button" ng-click="logMeInAs('stallions')">Stallions</button>
    </li>
  </ul>
</div>
