<div class="protected-container">
  <header>
    <span>protected lists</span>
    <ul class="protected-nav-list">
      <li>
        <a href="/#protected/bashers">bashers</a>
      </li>
      <li>
        <a href="/#protected/mashers">mashers</a>
      </li>
      <li>
        <a href="/#protected/rallycaps">rally caps</a>
      </li>
      <li>
        <a href="/#protected/stallions">stallions</a>
      </li>

    </ul>
  </header>
  <bbp-protected-roster-list></bbp-protected-roster-list>
</div>
