<div data-id="RosterViewContainer" class="Layout Layout__Responsive">
  <bbp-roster-draft-list roster="rosterCtx.bashersRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
  <bbp-roster-draft-list roster="rosterCtx.mashersRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
  <bbp-roster-draft-list roster="rosterCtx.rallycapsRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
  <bbp-roster-draft-list roster="rosterCtx.stallionsRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
</div>
