<div>
  <div data-id="DraftRosterViewContainer" class="Layout Layout__Responsive --Wrap">
    <bbp-roster-draft-list roster="rosterDraftCtx.bashersRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
    <bbp-roster-draft-list roster="rosterDraftCtx.mashersRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
    <bbp-roster-draft-list roster="rosterDraftCtx.rallycapsRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
    <bbp-roster-draft-list roster="rosterDraftCtx.stallionsRoster" save-roster="saveRoster(roster)"></bbp-roster-draft-list>
  </div>
</div>
