<table class="PreDraftRosterTable">
  <tr data-ui-type="row" ng-repeat="player in  rosterDraftCtx.mashersRoster.players">
    <td>{{player.name}}</td>
    <td>
      {{player.pos}}
      <select id="PosSelect" ng-change="updatePlayerPos()" class="select-pos pick-property-edit" ng-model="player.pos"  data-type="pos">
        <option value="C">C</option>
        <option value="1B">1B</option>
        <option value="2B">2B</option>
        <option value="3B">3B</option>
        <option value="SS">SS</option>
        <option value="LF">LF</option>
        <option value="CF">CF</option>
        <option value="RF">RF</option>
        <option value="DH">DH</option>
        <option value="SP">SP</option>
        <option value="RP">RP</option>
      </select>
    </td>
    <td>{{player.team}}</td>
    <td>
      <button ng-click="editPlayer(player)">edit</button>
    </td>
  </tr>
</table>
