<div ng-controller="RosterDraftViewController" data-id="draft-home-container" class="Layout">
  <!-- draft board -->
  <!--<bbp-draft-board></bbp-draft-board>-->
  <!-- chat column -->
  <!--<bbp-chat-main></bbp-chat-main>-->
  <!-- rosters quaters -->

  <!--<tabset type="pills">-->


    <!--<tab heading="Draft Board">-->

        <bbp-draft-board></bbp-draft-board>

        <!--<div>-->


          <!--<div class="DraftPickFormContainer">-->
            <!--<p>Draft Pick Form</p>-->
            <!--<p class="DraftPickFormContainer_CurrentPickTitle">current pick: <span class="DraftPickFormContainer_CurrentPickTitle">{{draftCtx.currentPickRoster}}</span></p>-->

            <!--<label>player: <input type="text" ng-model="draftCtx.currentPick.name"></label>-->
            <!--<label>pos:</label>-->
            <!--<select id="PosSelect" class="select-pos pick-property-edit" ng-model="draftCtx.currentPick.pos"  data-type="pos">-->
              <!--<option value="C">C</option>-->
              <!--<option value="1B">1B</option>-->
              <!--<option value="2B">2B</option>-->
              <!--<option value="3B">3B</option>-->
              <!--<option value="SS">SS</option>-->
              <!--<option value="LF">LF</option>-->
              <!--<option value="CF">CF</option>-->
              <!--<option value="RF">RF</option>-->
              <!--<option value="DH">DH</option>-->
              <!--<option value="SP">SP</option>-->
              <!--<option value="RP">RP</option>-->
            <!--</select>-->
            <!--<label>team:</label>-->
            <!--<select class="select-team pick-property-edit" id="TeamSelect" ng-model="draftCtx.currentPick.team" data-type="team">-->
              <!--<option value="BAL">BAL</option>-->
              <!--<option value="BOS">BOS</option>-->
              <!--<option value="CHA">CHA</option>-->
              <!--<option value="CLE">CLE</option>-->
              <!--<option value="DET">DET</option>-->
              <!--<option value="HOU">HOU</option>-->
              <!--<option value="KC">KC</option>-->
              <!--<option value="LAA">LAA</option>-->
              <!--<option value="MIN">MIN</option>-->
              <!--<option value="NYY">NYY</option>-->
              <!--<option value="OAK">OAK</option>-->
              <!--<option value="SEA">SEA</option>-->
              <!--<option value="TB">TB</option>-->
              <!--<option value="TEX">TEX</option>-->
              <!--<option value="TOR">TOR</option>-->
            <!--</select>-->
            <!--<div class="ButtonContainer">-->
              <!--<button ng-click="saveDraftPick()" >-->
                <!--Save Pick-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->

          <!--<bbp-chat-window></bbp-chat-window>-->




        <!--</div>-->

    <!--</tab>-->
    <!--<tab heading="Roster Lists">-->
      <!--<bbp-roster-draft-view></bbp-roster-draft-view>-->
    <!--</tab>-->
    <!--<tab heading="Diamond View" >-->
      <!--<bbp-roster-diamond-view></bbp-roster-diamond-view>-->
    <!--</tab>-->
  <!--</tabset>-->


  <!--<bbp-roster-player-form></bbp-roster-player-form>-->
</div>
