<div class="container">
  <div class="Layout">
    <h2>Roster Admin</h2>
    <!-- roster select -->
    <nav class="AdminRosterNavListContainer">
    <ul class="AdminRosterNavList">
      <li>
        <button ng-click="loadAdminRoster('bashers')">Bashers</button>
      </li>
      <li>
        <button ng-click="loadAdminRoster('mashers')">Mashers</button>
      </li>
      <li>
        <button ng-click="loadAdminRoster('rallycaps')">Rally Caps</button>
      </li>
      <li>
        <button ng-click="loadAdminRoster('stallions')">Stallions</button>
      </li>
    </ul>
  </nav>
  </div>

  <div class="Layout">
    <!-- player edit form -->
    <div class="AdminRosterEditFormContainer">
      <form id="FormAdminRosterPlayer" ng-model="editPlayer" class="forms columnar">
        <div>
          <!-- roster -->
          <label for="RosterSelect">Roster</label>
          <select id="RosterSelect" ng-model="currentRosterName" class="roster-select">
            <option value="bashers">bashers</option>
            <option value="mashers">mashers</option>
            <option value="rallycaps">rallycaps</option>
            <option value="stallions">stallions</option>
          </select>
        </div>
        <div>
          <!-- player name -->
          <label for="PlayerNameInput">Player</label>
          <input type="text" id="PlayerNameInput" ng-model="editPlayer.name" class="input-player-name" value="">
        </div>
        <div>
          <!-- pos -->
          <label for="PosSelect">Pos</label>
          <select id="PosSelect" class="select-pos pick-property-edit" ng-model="editPlayer.pos" data-id="<%= S.id %>" data-type="pos">
            <option value="C">C</option>
            <option value="1B">1B</option>
            <option value="2B">2B</option>
            <option value="3B">3B</option>
            <option value="SS">SS</option>
            <option value="LF">LF</option>
            <option value="CF">CF</option>
            <option value="RF">RF</option>
            <option value="DH">DH</option>
            <option value="SP">SP</option>
            <option value="RP">RP</option>
          </select>
        </div>
        <div>
          <!-- team -->
          <label for="TeamSelect">Team</label>
          <select class="select-team pick-property-edit" id="TeamSelect" ng-model="editPlayer.team" data-id="<%= S.id %>" data-type="team">
            <option value="BAL">BAL</option>
            <option value="BOS">BOS</option>
            <option value="CHA">CHA</option>
            <option value="CLE">CLE</option>
            <option value="DET">DET</option>
            <option value="HOU">HOU</option>
            <option value="KC">KC</option>
            <option value="LAA">LAA</option>
            <option value="MIN">MIN</option>
            <option value="NYY">NYY</option>
            <option value="OAK">OAK</option>
            <option value="SEA">SEA</option>
            <option value="TB">TB</option>
            <option value="TEX">TEX</option>
            <option value="TOR">TOR</option>
          </select>
        </div>
        <div>
          <label for="DraftStatusSelect">Roster Status</label>
          <select id="DraftStatusSelect" ng-model="editPlayer.draftStatus" class="status-select">
            <option value="bubble">bubble</option>
            <option value="dropped">dropped</option>
            <option value="prospect">prospect</option>
            <option value="protected">protected</option>
            <option value="roster">roster</option>
          </select>
        </div>
        <div>
          <label for="PlayerStatusSelect">Player Status</label>
          <select id="PlayerStatusSelect" ng-model="editPlayer.status" class="status-select">
            <option value="dl">dl</option>
            <option value="nl">nl</option>
            <option value="prospect">prospect</option>
            <option value="regular">regular</option>
          </select>
        </div>
        <div>
          <label for="PosTypeSelect">Position Type</label>
          <select id="PosTypeSelect" ng-model="editPlayer.posType" class="status-select">
            <option value="hitter">hitter</option>
            <option value="pitcher">pitcher</option>
          </select>
        </div>
        <div class="push">
          <button class="btn-submit btn-submit-rosterplayer" ng-click="saveEditPlayer(editPlayer)" ng-model="player">Save</button>
        </div>
      </form>
    </div>
    <!-- roster list -->
    <div class="AdminRosterContainer">

      <h2>{{ currentRosterName }} &nbsp;</h2>
      <table>
        <tr ng-repeat="player in players  | orderBy:['name']">
          <td>
            {{ player.mlbid }}
          </td>
          <td data-mlbid="{{ player.mlbid }}">{{ player.name }}</td>
          <td>{{ player.team }}</td>
          <td>{{ player.pos }}</td>
          <td>{{ player.status }}</td>
          <td>
            <button ng-model="player" ng-click="editThisPlayer(player)" >edit</button>
            <button ng-model="player" ng-click="deleteRosterPlayer(player)" >delete</button>
          </td>
        </tr>
      </table>
      <br />
      <br />
      <br />
      <br />
      <br />

    </div>
  </div>





</div>

